apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: fineract-dev

resources:
  - ../../base

# Use labels instead of commonLabels to avoid affecting Service selectors
labels:
  - pairs:
      environment: dev
      deployment-type: aws
      managed-by: argocd
    includeSelectors: false

# Override hostname configuration for dev environment
configMapGenerator:
  - name: ingress-config
    behavior: merge
    literals:
      - auth-hostname=a2ad25896f1b0446fa3c5a9302676638-32874721d0bce54e.elb.eu-central-1.amazonaws.com

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: keycloak
      spec:
        template:
          spec:
            containers:
            - name: keycloak
              env:
              - name: KC_HOSTNAME
                value: a2ad25896f1b0446fa3c5a9302676638-32874721d0bce54e.elb.eu-central-1.amazonaws.com
              - name: KC_HOSTNAME_STRICT
                value: "false"
              - name: KC_HTTP_ENABLED
                value: "true"
              - name: KC_PROXY
                value: "edge"
    target:
      kind: Deployment
      name: keycloak
  # Fix service selector to match pod labels (override commonLabels)
  - patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: keycloak-service
      spec:
        selector:
          app: keycloak
    target:
      kind: Service
      name: keycloak-service
