apiVersion: v1
kind: Service
metadata:
  name: customer-self-service
  labels:
    app: customer-self-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: customer-self-service
