apiVersion: v1
kind: Service
metadata:
  name: user-sync-service
  labels:
    app: user-sync-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 5000
      protocol: TCP
      name: http
  selector:
    app: user-sync-service