apiVersion: v1
kind: Service
metadata:
  name: reporting-app
  labels:
    app: reporting-app
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: reporting-app
