apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# ArgoCD Applications for Cluster-Scoped Infrastructure
#
# This kustomization deploys Applications that manage cluster-wide resources:
# - cert-manager (certificate management)
# - ingress-nginx (ingress controller)
# - infrastructure-app-of-apps (meta-application)
#
# Uses Kustomize replacements to centralize repository URL
#
# Usage:
#   kubectl apply -k argocd/applications/cluster-scoped

resources:
  - argocd-config.yaml
  - cert-manager.yaml
  - infrastructure-app-of-apps.yaml
  - ingress-nginx.yaml

# Replacements to inject repository URL into all Application manifests
replacements:
  # Replace repoURL in all Applications
  - source:
      kind: ConfigMap
      name: argocd-app-config
      fieldPath: data.repoURL
    targets:
      - select:
          kind: Application
        fieldPaths:
          - spec.source.repoURL

  # Replace targetRevision in all Applications
  - source:
      kind: ConfigMap
      name: argocd-app-config
      fieldPath: data.targetRevision
    targets:
      - select:
          kind: Application
        fieldPaths:
          - spec.source.targetRevision

commonLabels:
  app.kubernetes.io/managed-by: argocd
  app.kubernetes.io/part-of: cluster-infrastructure

# Namespace where these Applications will be created
namespace: argocd
