apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: fineract-dev

resources:
  - ingress-config.yaml
  - ../../base

commonLabels:
  environment: dev
  deployment-type: aws
  managed-by: argocd