apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: fineract-dev

resources:
  - ../../base

# Override hostname configuration for dev environment
configMapGenerator:
  - name: ingress-config
    namespace: fineract-dev
    literals:
      - apps-hostname=ab1ca14320b3f463ba779bed701da8a4-0167d8fef013e010.elb.us-east-2.amazonaws.com
      - auth-hostname=ab1ca14320b3f463ba779bed701da8a4-0167d8fef013e010.elb.us-east-2.amazonaws.com
      - cluster-issuer=selfsigned-issuer

commonLabels:
  environment: dev
  deployment-type: aws
  managed-by: argocd