apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: fineract-dev

resources:
- ../../base
- ingress-config.yaml

labels:
- includeSelectors: true
  pairs:
    deployment-type: aws
    environment: dev
    managed-by: argocd
replacements:
- source:
    fieldPath: data.apps-hostname
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - spec.rules.0.host
    - spec.tls.0.hosts.0
    select:
      kind: Ingress
- source:
    fieldPath: data.auth-hostname
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - spec.rules.0.host
    - spec.tls.0.hosts.0
    select:
      kind: Ingress
- source:
    fieldPath: data.cluster-issuer
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[cert-manager.io/cluster-issuer]
    select:
      kind: Ingress
- source:
    fieldPath: data.auth-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/auth-url]
    select:
      kind: Ingress
      name: fineract-oauth2-protected
- source:
    fieldPath: data.auth-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/auth-url]
    select:
      kind: Ingress
      name: fineract-oauth2-protected-write-canary
- source:
    fieldPath: data.auth-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/auth-url]
    select:
      kind: Ingress
      name: user-sync-service-ingress
- source:
    fieldPath: data.auth-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/auth-url]
    select:
      kind: Ingress
      name: fineract-web-app-protected
- source:
    fieldPath: data.auth-signin-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/auth-signin]
    select:
      kind: Ingress
      name: fineract-oauth2-protected
- source:
    fieldPath: data.auth-signin-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/auth-signin]
    select:
      kind: Ingress
      name: fineract-oauth2-protected-write-canary
- source:
    fieldPath: data.auth-signin-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/auth-signin]
    select:
      kind: Ingress
      name: user-sync-service-ingress
- source:
    fieldPath: data.auth-signin-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/auth-signin]
    select:
      kind: Ingress
      name: fineract-web-app-protected
- source:
    fieldPath: data.cors-allow-origin-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/cors-allow-origin]
    select:
      kind: Ingress
      name: fineract-oauth2-protected
- source:
    fieldPath: data.cors-allow-origin-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/cors-allow-origin]
    select:
      kind: Ingress
      name: fineract-oauth2-protected-write-canary
- source:
    fieldPath: data.cors-allow-origin-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/cors-allow-origin]
    select:
      kind: Ingress
      name: fineract-public-ingress
- source:
    fieldPath: data.cors-allow-origin-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/cors-allow-origin]
    select:
      kind: Ingress
      name: fineract-web-app-protected
- source:
    fieldPath: data.cors-allow-origin-url
    kind: ConfigMap
    name: ingress-config
  targets:
  - fieldPaths:
    - metadata.annotations.[nginx.ingress.kubernetes.io/cors-allow-origin]
    select:
      kind: Ingress
      name: fineract-authentication
