apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: fineract-dev

resources:
  - ../../base
  - ingress-config.yaml

commonLabels:
  environment: dev
  deployment-type: aws
  managed-by: argocd