apiVersion: v1
kind: Service
metadata:
  name: payment-gateway-service
  labels:
    app: payment-gateway-service
spec:
  ports:
    - port: 8082
      targetPort: 8082
      protocol: TCP
      name: http
  selector:
    app: payment-gateway-service
