apiVersion: v1
kind: Service
metadata:
  name: account-manager-app
  labels:
    app: account-manager-app
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: account-manager-app