apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - rbac.yaml

commonLabels:
  app.kubernetes.io/name: auto-rollback-webhook
  app.kubernetes.io/component: automation
  app.kubernetes.io/managed-by: kustomize
