apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: ingress-resources

resources:
  - fineract-public-ingress.yaml
  - fineract-oauth2-public.yaml
  - fineract-oauth2-protected.yaml
  - fineract-oauth2-protected-write-canary.yaml
  - fineract-web-app-protected.yaml
  - keycloak-ingress.yaml
  - user-sync-ingress.yaml


patches:
  - patch: |-
      - op: replace
        path: /metadata/namespace
        value: $(NAMESPACE)
    target:
      kind: Ingress

vars:
  - name: APPS_HOSTNAME
    objref:
      kind: ConfigMap
      name: ingress-config
      apiVersion: v1
    fieldref:
      fieldpath: data.apps-hostname
  - name: AUTH_HOSTNAME
    objref:
      kind: ConfigMap
      name: ingress-config
      apiVersion: v1
    fieldref:
      fieldpath: data.auth-hostname
  - name: CLUSTER_ISSUER
    objref:
      kind: ConfigMap
      name: ingress-config
      apiVersion: v1
    fieldref:
      fieldpath: data.cluster-issuer
  - name: NAMESPACE
    objref:
      kind: Kustomization
      apiVersion: kustomize.config.k8s.io/v1beta1
    fieldref:
      fieldpath: metadata.namespace

commonLabels:
  managed-by: argocd

commonAnnotations:
  component: "ingress"
  purpose: "HTTPS ingress with Let's Encrypt certificates"