apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: ingress-resources

resources:
  - fineract-public-ingress.yaml
  - fineract-oauth2-public.yaml
  - fineract-oauth2-protected.yaml
  - fineract-oauth2-protected-write-canary.yaml
  - fineract-web-app-protected.yaml
  - keycloak-ingress.yaml
  - user-sync-ingress.yaml


patches:
  - patch: |-
      - op: replace
        path: /metadata/namespace
        value: $(NAMESPACE)
    target:
      kind: Ingress

replacements:
  - source:
      kind: ConfigMap
      name: ingress-config
      fieldPath: data.apps-hostname
    targets:
      - select:
          kind: Ingress
        fieldPaths:
          - spec.rules.*.host
          - spec.tls.*.hosts.*
        options:
          delimiter: '.'
          index: 0
      - select:
          kind: Ingress
        fieldPaths:
          - metadata.annotations.[nginx.ingress.kubernetes.io/auth-signin]
        options:
          delimiter: '"'
          index: 1
  - source:
      kind: ConfigMap
      name: ingress-config
      fieldPath: data.auth-hostname
    targets:
      - select:
          kind: Ingress
          name: keycloak-ingress
        fieldPaths:
          - spec.rules.*.host
          - spec.tls.*.hosts.*
  - source:
      kind: ConfigMap
      name: ingress-config
      fieldPath: data.cluster-issuer
    targets:
      - select:
          kind: Ingress
        fieldPaths:
          - metadata.annotations.[cert-manager.io/cluster-issuer]

labels:
- pairs:
    managed-by: argocd

commonAnnotations:
  component: "ingress"
  purpose: "HTTPS ingress with Let's Encrypt certificates"