apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: ingress-resources

resources:
  - fineract-public-ingress.yaml
  - fineract-oauth2-public.yaml
  - fineract-oauth2-protected.yaml
  - fineract-oauth2-protected-write-canary.yaml
  - fineract-authentication.yaml
  - fineract-web-app-protected.yaml
  - keycloak-ingress.yaml
  - user-sync-ingress.yaml


labels:
- pairs:
    managed-by: argocd
  includeSelectors: true
commonAnnotations:
  component: "ingress"
  purpose: "HTTPS ingress with Let's Encrypt certificates"