apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: ingress-resources


resources:
  - ingress-config.yaml
  - ingress.yaml
  - ingress-root.yaml

# Patch all Ingress resources to use configurable cluster-issuer
patches:
  - path: cluster-issuer-patch.yaml
    target:
      kind: Ingress

vars:
  - name: APPS_HOSTNAME
    objref:
      kind: ConfigMap
      name: ingress-config
      apiVersion: v1
    fieldref:
      fieldpath: data.apps-hostname
  - name: AUTH_HOSTNAME
    objref:
      kind: ConfigMap
      name: ingress-config
      apiVersion: v1
    fieldref:
      fieldpath: data.auth-hostname
  - name: CLUSTER_ISSUER
    objref:
      kind: ConfigMap
      name: ingress-config
      apiVersion: v1
    fieldref:
      fieldpath: data.cluster-issuer

commonLabels:
  managed-by: argocd

commonAnnotations:
  component: "ingress"
  purpose: "HTTPS ingress with Let's Encrypt certificates"
